<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.learn.mapper.UserInfoMapper">
    <select id="selectByName" resultType="com.learn.domain.UserInfo">
select * FROM user_info where user_name = #{name}
    </select>
</mapper>
